name: Build and deploy JAR app to Azure Web App - ECommerceSpringBootBackendApp

on:
  push:
    branches:
      - springbootapplication
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: springbootapplication

      - name: Set up Java version
        uses: actions/setup-java@v1
        with:
          java-version: '17'


      - name: Build with Maven
        run: mvn -B package --file demo/pom.xml

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v3
        with:
          name: java-app
          path: '${{ github.workspace }}/demo/target/*.jar'

  deploy:
    runs-on: windows-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v3
        with:
          name: java-app
          path: '${{ github.workspace }}/demo/target/*.jar'

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'ECommerceSpringBootBackendApp'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_B98087B0F030483DA6BEF21FF75681F2 }}
          package: '*.jar'
